@import '../../scss/variables';

.cart-btn {
  width: 100%;
  height: 52px;
  font-family: Raleway;
  background-color: $primary-btn-color;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;

  &:hover {
    background-color: $highlight-btn-color;
  }
}

.cart-btn-inActive {
  background-color: $inActive-btn-color;
}