.cart-btn {
  width: 100%;
  height: 52px;
  font-family: Raleway;
  background-color: #5ece7b;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-transform: uppercase;
}

.cart-btn:hover {
  background-color: #a8f8bd;
}

.cart-btn-inActive {
  background-color: #a0a0a0;
}
/*# sourceMappingURL=AddToCartBtn.style.css.map */