.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
  color: black;
  font-family: Raleway;
  padding: 0 16px 4px 16px;
  text-transform: uppercase;
  cursor: pointer; 
}

.active {
  color: green;
  border-bottom: 2px solid #5ece7b;
}