.gallery-thumbnail {
  width: 80px;
  margin-bottom: 35px;
}

.gallery-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
/*# sourceMappingURL=GalleryThumbnail.style.css.map */