@import '../../scss/variables';

.size-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: SourceSansPro;
  width: 63px;
  height: 45px;
  border: 1px solid $primary-color;
  color: $primary-color;
  text-transform: uppercase;
  cursor: pointer;
}

.empty {
  border-color: gray;
  color: gray;
}

.size-active {
  background-color: $primary-color;
  color: white;
}