.size-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: SourceSansPro;
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  color: #1d1f22;
  text-transform: uppercase;
  cursor: pointer;
}

.empty {
  border-color: gray;
  color: gray;
}

.size-active {
  background-color: #1d1f22;
  color: white;
}
/*# sourceMappingURL=Size.style.css.map */