.footer-wrapper {
  margin: 15px 100px 15px 100px;
}

.footer-links {
  float: left;
  width: 33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  padding-bottom: 20px;
}

.footer-column-title {
  font-family: Roboto;
  color: #1d1f22;
  text-transform: uppercase;
  font-size: 18px;
  font-variation-settings: 'wght' 700;
  margin-bottom: 25px;
}

.footer-column-title::after {
  background: #1d1f22;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  width: 25px;
  margin-top: 13px;
}

.link-item {
  color: #555555;
  font-family: Raleway;
  display: block;
  margin-bottom: 13px;
}

.link-item a {
  color: #555555;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.link-item a:hover {
  color: coral;
}

.quick-contact-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quick-contact-wrapper {
  margin-bottom: 16px;
}

.quick-contact-wrapper__item {
  display: block;
}

.quick-contact-icon {
  font-family: Entypo;
  font-size: 29px;
  line-height: 6px;
}

.quick-contact-title {
  font-family: Raleway;
  font-variation-settings: 'wght' 700;
  margin-left: 8px;
  color: #1d1f22;
}

.quick-contact-content {
  color: #555555;
  font-family: Raleway;
}

#arrow {
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 40px;
}

ul li {
  position: relative;
  padding-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 20px;
}

ul li:before {
  content: '';
  position: absolute;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  width: 5px;
  height: 5px;
  top: calc(50% - 4px);
  left: -20px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.footer-bottom {
  font-family: Raleway;
  color: #555555;
  float: left;
  width: 100%;
  border-top: 1px solid #d1d1d1;
  padding: 20px 0;
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  .footer-wrapper {
    margin: 15px 400px 15px 400px;
  }
}

@media all and (min-width: 1681px) and (max-width: 1920px) {
  .footer-wrapper {
    margin: 15px 200px 15px 200px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1680) {
  .footer-wrapper {
    margin: 15px 100px 15px 100px;
  }
}
/*# sourceMappingURL=FooterSection.style.css.map */