.button{

   width: 200px;
   height: 100px;
   font-family: Lato;
   font-size: 20px;
   border-radius: 40px;
  box-sizing: border-box;
   border: 1px solid #dce0ef;
    height: 80px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 264px;
  background: white;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  font-family: "Icons";
  content: 'A';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.inactive2{
  pointer-events: none;
transition: 2s;
}
.inactive2 span{
  opacity: 0;
}
.active2{
  pointer-events: true;
}

.active2 span{
  opacity: 1;
}

@media only screen and (max-width: 360px) {
 .button{
  width: 190px;
  height: 75px;
  font-size: 15px;
 }
}

