.product-page-container {
  margin: 100px;
  height: calc(100vh - 90px);
}

.product-page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 60% 30%;
      grid-template-columns: 10% 60% 30%;
}

.product-actions-wrapper {
  margin-right: 130px;
}

.name-wrapper {
  font-family: Raleway;
  margin-bottom: 45px;
  font-size: 30px;
  color: #1d1f22;
}

.name-wrapper__brand {
  font-variation-settings: 'wght' 700;
}

.name-wrapper__item {
  margin-top: 5px;
  font-variation-settings: 'wght' 400;
}

.size-wrapper {
  margin-bottom: 40px;
  color: #1d1f22;
}

.size-wrapper__title {
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 18px;
  font-variation-settings: 'wght' 700;
}

.size-wrapper__blocks-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-wrapper {
  margin-top: 20px;
}

.price-wrapper__title {
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 18px;
  font-variation-settings: 'wght' 700;
}

.price-wrapper__price {
  font-family: Raleway;
  font-size: 24px;
  margin-top: 10px;
  font-variation-settings: 'wght' 700;
}

.add-to-cart-wrapper {
  margin-top: 20px;
}

.desription-wrapper {
  margin-top: 40px;
}

.desription-wrapper__content {
  display: block;
  font-family: Roboto-Regular;
  font-size: 16px;
  line-height: 25px;
  font-variation-settings: 'wght' 400;
  color: #1d1f22;
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  .product-page-container {
    margin: 100px 400px 0 400px;
  }
}

@media all and (min-width: 1681px) and (max-width: 1920px) {
  .product-page-container {
    margin: 100px 200px 0 200px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1680) {
  .product-page-container {
    margin: 100px 100px 0 100px;
  }
}
/*# sourceMappingURL=Product.style.css.map */