@import '../../scss/variables';

.product-page-container {
  margin: $default-margin;
  height: calc(100vh - 90px);
}

.product-page-wrapper {
  display: grid;
  grid-template-columns: 10% 60% 30%;
}

.product-actions-wrapper {
  margin-right: 130px;
}

.name-wrapper {
  font-family: Raleway;
  margin-bottom: 45px;
  font-size: 30px;
  color: $primary-color;

  &__brand {
    font-variation-settings: 'wght' 700;
  }

  &__item {
    margin-top: 5px;
    font-variation-settings: 'wght' 400;
  }
}

.size-wrapper {
  margin-bottom: 40px;
  color: $primary-color;

  &__title {
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 18px;
    font-variation-settings: 'wght' 700;
  }

  &__blocks-wrapper {
    display: flex;
    margin-top: 9px;
    justify-content: space-between;
  }
}

.price-wrapper {
  margin-top: 20px;

  &__title {
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 18px;
    font-variation-settings: 'wght' 700;
  }

  &__price {
    font-family: Raleway;
    font-size: 24px;
    margin-top: 10px;
    font-variation-settings: 'wght' 700;
  }
}

.add-to-cart-wrapper {
  margin-top: 20px;
}

.desription-wrapper {
  margin-top: 40px;

  &__content {
    display: block;
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 25px;
    font-variation-settings: 'wght' 400;
    color: $primary-color;
  }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  .product-page-container {
    margin: $default-margin $monitor2560 0 $monitor2560;
  }
}

@media all and (min-width: 1681px) and (max-width: 1920px) {
  .product-page-container {
    margin: $default-margin $monitor1920 0 $monitor1920;
  }
}

@media all and (min-width: 1280px) and (max-width: 1680) {
  .product-page-container {
    margin: $default-margin $monitor1680 0 $monitor1680;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}