@import '../../scss/variables';

.product-container {
  margin: 100px;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  align-items: center;
  justify-content: center;
}


@supports (display: grid) {
  .product-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 6rem;
  }

  .product-wrapper,
  .product-item-wrapper {
  }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  .product-container {
    margin: $default-margin $monitor2560 $default-margin $monitor2560;
  }
}

@media all and (min-width: 1681px) and (max-width: 1920px) {
  .product-container {
    margin: $default-margin $monitor1920 $default-margin $monitor1920;
  }
}

@media all and (min-width: 1280px) and (max-width: 1680) {
  .product-container {
    margin: $default-margin $monitor1680 $default-margin $monitor1680;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .product-wrapper {
    grid-gap: 1rem;
  }
}
