.product-container {
  margin: 100px;
}

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (display: grid) {
  .product-wrapper {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 6rem;
  }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  .product-container {
    margin: 100px 400px 100px 400px;
  }
}

@media all and (min-width: 1681px) and (max-width: 1920px) {
  .product-container {
    margin: 100px 200px 100px 200px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1680) {
  .product-container {
    margin: 100px 100px 100px 100px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .product-wrapper {
    grid-gap: 1rem;
  }
}
/*# sourceMappingURL=Categories.style.css.map */