.product-item-wrapper {
  transition: box-shadow .3s;
  flex: 1 2 21rem;
  width: fit-content;
  margin: 16px;
  padding: 16px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.49);
  }
}

.product-item-name {
  width: fit-content;
  font-family: Raleway;
  margin-top: 24px;
  size: 18px;
}

.product-item-price {
  width: fit-content;
  font-family: Raleway;
  margin-top: 10px;
  size: 18px;
  font-variation-settings: 'wght' 500;
}

.product-thumbnail {
  width: 338px;
  height: 338px;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}
  