.product-item-wrapper {
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 21rem;
          flex: 1 2 21rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 16px;
  padding: 16px;
  cursor: pointer;
}

.product-item-wrapper:hover {
  -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.49);
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.49);
}

.product-item-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Raleway;
  margin-top: 24px;
  size: 18px;
}

.product-item-price {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Raleway;
  margin-top: 10px;
  size: 18px;
  font-variation-settings: 'wght' 500;
}

.product-thumbnail {
  width: 338px;
  height: 338px;
  overflow: hidden;
}

.product-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
/*# sourceMappingURL=CategoryItem.style.css.map */