.navbar-container {
  width: 100%;
  height: 90px;
}

.navbar-wrapper {
  margin: 0px 100px 0px 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.action-items {
  cursor: pointer;
  margin-left: 10px;
}

.actions img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  .navbar-wrapper {
    margin: 0 400px 0 400px;
  }
}

@media all and (min-width: 1681px) and (max-width: 1920px) {
  .navbar-wrapper {
    margin: 0 200px 0 200px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1680) {
  .navbar-wrapper {
    margin: 0 100px 0 100px;
  }
}
/*# sourceMappingURL=NavigationBar.style.css.map */