$primary-color: #1d1f22;
$secondary-color: #555555;
$primary-btn-color: #5ece7b;
$highlight-btn-color: #a8f8bd;
$inActive-btn-color: #a0a0a0;


$monitor2560: 400px;
$monitor1920: 200px;
$monitor1680: 100px;
$default-margin: 100px;